{% extends 'base.html' %}
{% block content %}
    <div class="d-flex aligns-items-center" style="width: 100%;height: 100%;">
        {% if productdetails %}
            <h1>Product Name<br></h1>
            <small>{{productdetails.ProductName}}<br></small>
            <h1>Product Description<br></h1>
            <small>{{productdetails.ProductDesctiption}}</small>
            <h1>Product Price<br></h1>
            <small>{{productdetails.PRICE}}</h2>


        <form action="{% url 'AddColumns' %}?id={{productdetails.id}}" method="POST" id="registration">
            {% csrf_token %} 
            <div class="form-row">
                <div class="form-group">
                    <label>CustomerName</label>
                    {{ form.CustomerName }}
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    {{ form.CustomerEmail }}
                </div>
            </div> 
            <div class="form-row">
                <div class="col form-group">
                    <label>Quantity</label>
                    {{ form.Quantity }}
                </div> 
            </div>
    
            <div class="form-group">
                <button type="submit" style="background-color: red;" class="btn btn-block"> <p style="color: #fff;">Order</p> </button>
            </div>
        </form>


        {% endif %}
    </div>
{% endblock %}